.command-launcher-body {
  display: flex;
  justify-content: flex-start;
  padding: 2px;
  height: 370px;
}

.command-launcher-display {
  width: -webkit-fill-available;
  height: 100%;
  background: lightgray;
  overflow-y: scroll;
  overflow-x: hidden;
}

.command-launcher-display-preview-container {
  height: 100%;
  display: flex;
}

.icon {
  width: 100px;
}

.airlock-subscription-display-line {
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #969494;
  border-radius: 20px;
}
